aiokafka==0.8.1
annotated-types==0.5.0
anyio==4.0.0
async-timeout==4.0.3
certifi==2023.7.22
charset-normalizer==3.2.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
kafka-python==2.0.2
packaging==23.1
pydantic==2.3.0
pydantic_core==2.6.3
python-telegram-bot==20.5
redis>=5.0.0
requests==2.31.0
sniffio==1.3.0
typing_extensions==4.7.1
urllib3==2.0.4
