{
    "tg": {
        "@bot_name": {
            "token": "bot_token",
            "users": {
                "user1": "chat_id1"
            },
            "groups": {
                "group1": "group_id1",
                "group2": "group_id2"
            }
        }
    },
    "d42": {
        "username": "user",
        "password": "password",
        "url": "d42_url"
    },
    "mcp": {
        "username": "user",
        "password": "password",
        "url": "mcp_url"
    },
    "kafka": {
        "bootstrap_servers": "KAFKA_SERVER",
        "topic": "KAFKA_TOPIC",
        "handler": "KAFKA_HANDLER"
    },
    "redis": {
        "host": "REDIS_SERVER",
        "port": "REDIS_PORT",
        "db": "REDIS_DB"
    }
}